#define ${TARGET_PRODUCT_NAME}_VERSION "${PROJECT_VERSION_}"
#define ${TARGET_PRODUCT_NAME}_VERSION_MAJOR ${PROJECT_VERSION_MAJOR_}
#define ${TARGET_PRODUCT_NAME}_VERSION_MINOR ${PROJECT_VERSION_MINOR_}
#define ${TARGET_PRODUCT_NAME}_VERSION_PATCH ${PROJECT_VERSION_PATCH_}
#define ${TARGET_PRODUCT_NAME}_VERSION_TWEAK ${PROJECT_VERSION_TWEAK_}
#define ${TARGET_PRODUCT_NAME}_DESC "${TARGET_DESC}"
#define ${TARGET_PRODUCT_NAME}_COPYRIGHT "${TARGET_COPYRIGHT}"
#define ${TARGET_PRODUCT_NAME}_PRODUCT_NAME "${TARGET_PRODUCT_NAME}"
#define ${TARGET_PRODUCT_NAME}_NAME "${TARGET_NAME}"
