#define ${PROJECT_NAME}_VERSION "${PROJECT_VERSION}"
#define ${PROJECT_NAME}_VERSION_MAJOR ${PROJECT_VERSION_MAJOR}
#define ${PROJECT_NAME}_VERSION_MINOR ${PROJECT_VERSION_MINOR}
#define ${PROJECT_NAME}_VERSION_PATCH ${PROJECT_VERSION_PATCH}
#define ${PROJECT_NAME}_VERSION_TWEAK ${PROJECT_VERSION_TWEAK}
#define ${PROJECT_NAME}_DESC "${PROJECT_DESC}"
#define ${PROJECT_NAME}_COPYRIGHT "${PROJECT_COPYRIGHT}"
#define ${PROJECT_NAME}_PRODUCT_NAME "${PROJECT_PRODUCT_NAME}"
