name: build

on:
  push:
    branches:
      - master
      - dev*

env:
  BUILD_TYPE: Release
  ARCH: amd64

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: G++ 12 & GCOV
            CC: gcc-12
            CXX: g++-12
            use-gcov: true
          # clang 13 not supporting libstdc 13
          #- name: Clang 13
          #  CC: clang-13
          #  CXX: clang++-13

    env:
      CC: ${{matrix.CC}}
      CXX: ${{matrix.CXX}}
      USE_GCOV: ${{matrix.use-gcov == true}}

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2

      - name: Configure stuff
        run: |
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_GCOV=$USE_GCOV -DCLI=TRUE -DGLTF=TRUE -DCMAKE_INSTALL_PREFIX=${{github.workspace}} -DCMAKE_INSTALL_RPATH=${{github.workspace}}/lib ..

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . -j 6 --target install

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest --output-on-failure

      - name: Install coverage parser
        working-directory: ${{github.workspace}}
        if: ${{matrix.use-gcov == true}}
        run: |
          sudo apt install python3-setuptools python3-idna python3-requests python3-urllib3
          git clone https://github.com/PredatorCZ/cpp-coveralls.git
          pushd cpp-coveralls
          sudo python3 setup.py install
          popd

      - name: Upload coverage report
        working-directory: ${{github.workspace}}
        if: ${{matrix.use-gcov == true}}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.CoverallsToken }}
          COVERALLS_SERVICE_NAME: github-actions-ci
        run: >
          coveralls --gcov gcov-12
          -E ".*/build/.*.[ch]((pp)|(c)|(xx))?$"
          -e classgen -e gltf -e test
          -e 3rd_party
          -e include/spike/util/unit_testing.hpp
          -e include/spike/format
          -e include/spike/gltf
          -e include/spike/gpu
          -e include/spike/app_context.hpp
          -e include/spike/classgen.hpp
          -e include/spike/gltf.hpp
          -e src/gltf
          --gcov-options '\-lpb' > /dev/null

  build-widle:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - name: Configure stuff
        run: |
          choco install ninja
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCLI=TRUE -DGLTF=TRUE -DCMAKE_INSTALL_PREFIX=${{github.workspace}} ..
        env:
          CC: clang
          CXX: clang++
      - name: Build
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . -j 6 --target install

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest --output-on-failure
