name: build

on: [push]

env:
  BUILD_TYPE: Release
  ARCH: amd64

jobs:
  build-linux:
    runs-on: ubuntu-16.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - CC: gcc-5
            CXX: g++-5
            use-gcov: true
          - CC: gcc-9
            CXX: g++-9
          - CC: clang-3.5
            CXX: clang++-3.5
            install: true
          - CC: clang-9
            CXX: clang++-9

    env:
      CC: ${{matrix.CC}}
      CXX: ${{matrix.CXX}}
      USE_GCOV: ${{matrix.use-gcov == true}}

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2

      - name: Install compiler
        if: ${{matrix.install == true}}
        run: sudo apt install ${{matrix.CC}}

      - name: Configure stuff
        run: |
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_GCOV=$USE_GCOV ..

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . -j 6

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest --output-on-failure

      - name: Upload coverage report
        working-directory: ${{github.workspace}}
        if: ${{matrix.use-gcov == true}}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.CoverallsToken }}
        run: |
          sudo apt install python3-setuptools python3-idna python3-requests python3-urllib3
          git clone https://github.com/PredatorCZ/cpp-coveralls.git
          pushd cpp-coveralls
          sudo python3 setup.py install
          popd
          export COVERALLS_SERVICE_NAME="gitlab-ci"
          coveralls -E ".*/build/.*.c((pp)|(c)|(xx))?$" -e MAXex -e test -e datas/unit_testing.hpp -e 3rd_party --gcov-options '\-lp' > /dev/null

  build-widle:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Configure stuff
        run: |
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake -DCMAKE_BUILD_TYPE=Release -A x64 ..
      - name: Build
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . -j 6 --config Release

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: |
          $Env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
          ctest --output-on-failure -C Release
