name: build

on:
  push:
    branches:
      - master
      - dev*

env:
  BUILD_TYPE: Release
  ARCH: amd64

jobs:
  build-linux:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: G++ 7 & GCOV
            CC: gcc-7
            CXX: g++-7
            use-gcov: true
          - name: Clang 6
            CC: clang-6.0
            CXX: clang++-6.0
            install: clang-6.0

    env:
      CC: ${{matrix.CC}}
      CXX: ${{matrix.CXX}}
      USE_GCOV: ${{matrix.use-gcov == true}}

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2

      - name: Install compiler
        if: ${{matrix.install}}
        run: |
          sudo rm -rd /usr/lib/gcc/x86_64-linux-gnu/10 /usr/lib/gcc/x86_64-linux-gnu/8 /usr/lib/gcc/x86_64-linux-gnu/9
          sudo apt install ${{matrix.install}}

      - name: Configure stuff
        run: |
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DUSE_GCOV=$USE_GCOV -DCMAKE_INSTALL_PREFIX=${{github.workspace}} -DCMAKE_INSTALL_RPATH=${{github.workspace}}/lib ..

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . -j 6 --target install

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest --output-on-failure

      - name: Upload coverage report
        working-directory: ${{github.workspace}}
        if: ${{matrix.use-gcov == true}}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.CoverallsToken }}
        run: |
          sudo apt install python3-setuptools python3-idna python3-requests python3-urllib3
          git clone https://github.com/PredatorCZ/cpp-coveralls.git
          pushd cpp-coveralls
          sudo python3 setup.py install
          popd
          export COVERALLS_SERVICE_NAME="gitlab-ci"
          coveralls -E ".*/build/.*.[ch]((pp)|(c)|(xx))?$" -e spike -e MAXex -e test -e datas/unit_testing.hpp -e 3rd_party -e formats --gcov-options '\-lp' > /dev/null

  build-widle:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Configure stuff
        run: |
          mkdir ${{github.workspace}}/build
          cd ${{github.workspace}}/build
          cmake -DCMAKE_BUILD_TYPE=Release -A x64 -DCMAKE_INSTALL_PREFIX=${{github.workspace}} ..
      - name: Build
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . -j 6 --config Release --target install

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest --output-on-failure -C Release
